<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #1 - Use a loop to display job results in a table. -->
    <table class="job-listing">
        <tr th:each="job: ${jobs}">
            <td>
                <p>
                    Job Id:
                    <a th:href="@{'/view/' + ${job.id}}" th:text="${job.id}"></a>
                </p>
                <p th:text="${'Name: ' + job.name}"></p>
                <p>
                    Employer:
                    <a th:href="@{'/employers/view/' + ${job.employer.id}}" th:text="${job.employer.name}"></a>
                </p>
                <p>
                    Location:
                    <a th:href="@{'/locations/view/' + ${job.location.id}}" th:text="${job.location.name}"></a>
                </p>
                <p>
                    Position Type:
                    <a th:href="@{'/poisitionType/view/' + ${job.positionType.id}}" th:text="${job.positionType.name}"></a>
                    <td th:text="${job.positionType}"></td>
                </p>
                <p>
                    Skills:
                    <ul th:each="skill : ${job.skills}">
                        <li>
                            <a th:href="@{'/skills/view/' + ${skill.id}" th:text="${skill.name}"></a>
<!--                            <td th:text="${job.coreCompetency}"></td>-->
                        </li>
                    </ul>
                </p>
            </td>
        </tr>
    </table>
</div>

</body>
</html>